@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.video-mockup {
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}