<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> CBTis258 </title>
</head>
<body class="min-h-dvh grid grid-rows-[auto_1fr_auto]">
  <!-- Contenido de la pagina ↓ -->
  <slot />
</body>
</html>